backports.shutil-get-terminal-size==1.0.0
decorator==4.0.9
future==0.15.2
ipython==4.2.0
ipython-genutils==0.1.0
pefile==2016.3.28
pickleshare==0.7.2
PyInstaller==3.2
pypiwin32==219
simplegeneric==0.8.1
traitlets==4.2.1
